@charset "UTF-8";

html, body, .container, .mogul-app {
  height: 100%;
}

.container {
  position: relative;
}

.container > h1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  margin: 0;
  padding: 2px 12px 12px;

  color: #333;
  font-family: 'Yellowtail', cursive;
  font-size: 46px;

  background-color: rgba(255, 255, 255, .6);
}
.container > h1:hover {
  opacity: 0;
}

.mogul-result,
.mogul-input,
.mogul-context {
  font-family: 'Source Code Pro', monospace;
}